In [20]:
# Collections 
# Lists

# Ordered, Mutable, Allow Duplicate Values

myList = [10,20,30,40,50]

print(myList)
print(myList[3]) # access based on index

myList.append('Paras') # append add element at last index
print(myList)

myList.insert(2,25)
print(myList)

print(myList.pop()) # return the last element and remove the last value
print(myList)

print(f"The Length of the list is : {len(myList)}")

print("Maximum Value :", max(myList))
print("Minimum Value :", min(myList))
print("Total Sum :", sum(myList))

# Remove the value by index
myList.remove(25)
print(myList)

# Check membership
print(20 in myList)

mlist =[10,20,30,40,50]
print(myList is mlist)

print(myList[1:4])

myList.extend([1,2,3,4,5]) # adding element at last
print(myList)

# Delete using index number
del myList[1]
print(myList)

myList.clear()
print(myList)

[10, 20, 30, 40, 50]
40
[10, 20, 30, 40, 50, 'Paras']
[10, 20, 25, 30, 40, 50, 'Paras']
Paras
[10, 20, 25, 30, 40, 50]
The Length of the list is : 6
Maximum Value : 50
Minimum Value : 10
Total Sum : 175
[10, 20, 30, 40, 50]
True
False
[20, 30, 40]
[10, 20, 30, 40, 50, 1, 2, 3, 4, 5]
[10, 30, 40, 50, 1, 2, 3, 4, 5]
[]

In [28]:
# Loops in LISTs

myData = [1,2,3,4,5,6,7,8]

for num in myData:
    print(num, end = " ")
print()    

i = 0
while i < len(myData):
    print(myData[i] , end = " ")
    i += 1
print()    

myData.reverse()
print(myData)

myData.sort()
print(myData)

myData.sort(reverse = True)
print(myData)

# Copy the List

copy_number = myData.copy()
print(copy_number)

# Sort Way to Create List

squares = [x ** 2 for x in range(1,6)]
print(squares)

1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8
[8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8]
[8, 7, 6, 5, 4, 3, 2, 1]
[8, 7, 6, 5, 4, 3, 2, 1]
[1, 4, 9, 16, 25]

In [32]:
# Tuple

# Ordered, Immutable

fruits = ("Orange", "Apple", "Banana")
print(fruits)

mixed = ('Paras', 21, 'Ambala', 67.33, True)
print(mixed)

# Empty Tuple
empty_tup = ()
print()

# Tuple with single value
data = ('hell',)
print(data)
print(type(data))

# Access value in tuple by index
print(fruits[2])

('Orange', 'Apple', 'Banana')
('Paras', 21, 'Ambala', 67.33, True)

('hell',)
<class 'tuple'>
Banana

In [36]:
# As Tuple is immutable, then for modifying the tuple 
# We have to convert tuple into list 
# Then Modify the List
# Lastly, Convert the list into tuple

number_tuple = (23, 'Paras', 78.33)
print(number_tuple)

number_tuple = list(number_tuple)
print(number_tuple)

number_tuple.append('Harikesh')
print(number_tuple)

number_tuple = tuple(number_tuple)
print(number_tuple)

(23, 'Paras', 78.33)
[23, 'Paras', 78.33]
[23, 'Paras', 78.33, 'Harikesh']
(23, 'Paras', 78.33, 'Harikesh')

In [41]:
tuple1 = (1,2,3)
tuple2 = (4,5,6,2,3,2,4)
tuple3 = tuple1 + tuple2 
print(tuple3)

# count number of elements in the tuple
print(tuple3.count(2))

new_tuple = ('temp',) * 5 # repeatetion of tuple
print(new_tuple)

(1, 2, 3, 4, 5, 6, 2, 3, 2, 4)
3
('temp', 'temp', 'temp', 'temp', 'temp')

In [1]:
# Dictionary - Key Value Pair 

employee = {
    "eid" : 1000,
    "name" : "Paras",
    "dept" : "SAP",
    "salary" : 20000
}

print(employee['eid'])
print(employee['name'])
print(employee.get('dept'))
print(employee.get('manager'))
print(employee.get('manager', 'Adity'))
# get is better then simple access because if that key not present then simple one simply return the error but with .get return NONE
print(employee)

# Add and update the key value pair
employee['manager'] = "Shinu"
print(employee)

employee['manager'] = "Ravi"
print(employee)

# Remove the last Key Pair 
data = employee.popitem()
print(data, 'removed')a

data = employee.pop('salary')
print(employee)

1000
Paras
SAP
None
Adity
{'eid': 1000, 'name': 'Paras', 'dept': 'SAP', 'salary': 20000}
{'eid': 1000, 'name': 'Paras', 'dept': 'SAP', 'salary': 20000, 'manager': 'Shinu'}
{'eid': 1000, 'name': 'Paras', 'dept': 'SAP', 'salary': 20000, 'manager': 'Ravi'}
('manager', 'Ravi') removed
{'eid': 1000, 'name': 'Paras', 'dept': 'SAP'}

In [5]:
# Iterate the Dictionary

student = {
    "id" : 1,
    "name" : "alex",
    "email" : "alex@gmail.com",
    "address" : "us"
}

for key in student:
    print(key ,":", student[key])


print(student.items())

for key, value in student.items():
    print(key, ": ", value)

id : 1
name : alex
email : alex@gmail.com
address : us
dict_items([('id', 1), ('name', 'alex'), ('email', 'alex@gmail.com'), ('address', 'us')])
id :  1
name :  alex
email :  alex@gmail.com
address :  us

In [7]:
if "address" in student:
    print("address is present in student object")

address is present in student object

In [30]:
# Set -- Unordered , Unique Elements, Mutable, Supports Set Operations(Union, Intersection)

names = { "alex", "bob", "john", "catty"}
print(names)

for val in names:
    print(val)

names.add('krishna')
print(names)

# To add many elements
names.update(['rohit', 'pawan'])
print(names)

# Removing the value from set
names.remove('rohit')
print(names)

# names.remove('parad')
names.discard('parad')

names.pop();
print(names)

{'bob', 'catty', 'alex', 'john'}
bob
catty
alex
john
{'catty', 'krishna', 'bob', 'alex', 'john'}
{'pawan', 'rohit', 'catty', 'krishna', 'bob', 'alex', 'john'}
{'pawan', 'catty', 'krishna', 'bob', 'alex', 'john'}
{'catty', 'krishna', 'bob', 'alex', 'john'}

In [34]:
# Set Operations

A = {1,2,3,4,5}
B = {4,5,6,7,8}

# Union
print(A|B)
print(A.union(B))

# Intersection
print(A & B)
print(A.intersection(B))

# Difference
print(A - B)
print(A.difference(B))

# Symmetric Difference
print(A ^ B)
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [72]:
# Task 1

def add_employee(name, salary, email):
    data.append({"name" : name,"salary" : salary,"email" : email  })
    print(data)

def printEmployees():
    print("Details : ------------------------------------------------------------------------------------------------------------------------------")
    for items in data:
        for key,value in items.items():
            print(key , ":", value)
        print("----------------------------------------------------------------------------------------------------")

def updateEmployees(name, updatedname, updatedsalary, updatedemail):
    for emp in data:
        if emp['name'] == name:
            emp['name'] = updatedname
            emp['salary'] = updatedsalary
            emp['email'] = updatedemail
            print("Details Updated Successfully") 
            return

def delete_employee(name):
    for emp in data:
        if emp['name'] == name:
            data.remove(emp)
            print(f"Deleted Data :\nName : {emp['name']}\nSalary : {emp['salary']}\nEmail : {emp['email']}")
            return

data = [
    {
    "name" : "Paras",
    "salary" : 22000,
    "email" : "paras@gmail.com"  
    },
    {
    "name" : "Harikesh",
    "salary" : 25000,
    "email" : "harikesh@gmail.com"  
    },
    {
    "name" : "Adity",
    "salary" : 27000,
    "email" : "adity@gmail.com"  
    }    
]

print(data)
print("----------------------------------------------------------------------------------------------------")
add_employee("Pragya", 33000, "pakhi@gmail.com")

print("----------------------------------------------------------------------------------------------------")
updateEmployees("Paras", "Paras", 35000, "paras@gmail.com")
print(data)
print("----------------------------------------------------------------------------------------------------")
delete_employee("Harikesh")
print(data)
printEmployees()

[{'name': 'Paras', 'salary': 22000, 'email': 'paras@gmail.com'}, {'name': 'Harikesh', 'salary': 25000, 'email': 'harikesh@gmail.com'}, {'name': 'Adity', 'salary': 27000, 'email': 'adity@gmail.com'}]
----------------------------------------------------------------------------------------------------
[{'name': 'Paras', 'salary': 22000, 'email': 'paras@gmail.com'}, {'name': 'Harikesh', 'salary': 25000, 'email': 'harikesh@gmail.com'}, {'name': 'Adity', 'salary': 27000, 'email': 'adity@gmail.com'}, {'name': 'Pragya', 'salary': 33000, 'email': 'pakhi@gmail.com'}]
----------------------------------------------------------------------------------------------------
Details Updated Successfully
[{'name': 'Paras', 'salary': 35000, 'email': 'paras@gmail.com'}, {'name': 'Harikesh', 'salary': 25000, 'email': 'harikesh@gmail.com'}, {'name': 'Adity', 'salary': 27000, 'email': 'adity@gmail.com'}, {'name': 'Pragya', 'salary': 33000, 'email': 'pakhi@gmail.com'}]
----------------------------------------------------------------------------------------------------
Deleted Data :
Name : Harikesh
Salary : 25000
Email : harikesh@gmail.com
[{'name': 'Paras', 'salary': 35000, 'email': 'paras@gmail.com'}, {'name': 'Adity', 'salary': 27000, 'email': 'adity@gmail.com'}, {'name': 'Pragya', 'salary': 33000, 'email': 'pakhi@gmail.com'}]
Details : ------------------------------------------------------------------------------------------------------------------------------
name : Paras
salary : 35000
email : paras@gmail.com
----------------------------------------------------------------------------------------------------
name : Adity
salary : 27000
email : adity@gmail.com
----------------------------------------------------------------------------------------------------
name : Pragya
salary : 33000
email : pakhi@gmail.com
----------------------------------------------------------------------------------------------------

In [73]:
# Task 2 

movies = []
theaters = set()
ticket_price = (250,350,300)
customers = {}

def add_movie(title, genere, showtime):
    movies.append({'title' : title, 'genere' : genere, 'showtime' : showtime})

    print(f"Added Movie -------------------------------------------\nTitle : {title}\nGenere : {genere}\nShowtime : {showtime}\n")
    return

def remove_movie(title):
    for movie in movies:
        if(movie['title'] == title):
            movies.remove(movie)
            print(f"Removed Movie --------------------------------------\nTitle : {title}\nGenere : {movie['genere']}\nShowtime : {movie['showtime']}\n")
    return        

def add_theater(theater_name):
    theaters.add(theater_name)

    print("Theater Added :",theater_name)

def add_customer(customer_name):
    customers[customer_name] = []
    return

def book_ticket(customer_name, movie_title):
    for movie in movies:
        if movie["title"] == movie_title:
            customers[customer_name].append(movie_title)
            print(f"Ticket booked for '{customer_name}' to watch '{movie_title}'.")
            return

def print_data():
    print("\nMovies Available:")
    for movie in movies:
        print(f"  {movie['title']} ({movie['genere']}) at {movie['showtime']}")

    print("\nTheaters Available:")
    for theater in theaters:
        print(f"  {theater}")

    print("\nTicket Pricing:")
    print(f"  Prices: {ticket_price}")

    print("\nCustomer Bookings:")
    for customer, bookings in customers.items():
        print(f"  {customer}: {', '.join(bookings) if bookings else 'No bookings yet'}")

add_movie("Krrish", "Action", "21:20")
add_movie("Juman Ji", "Adventurous", "15:10")
add_movie("Total Recall", "Sci-Fi", "10:50")

# remove_movie("Juman Ji")

add_theater("PVR")
add_theater("Galaxy")
add_theater("Minerva")

print("---------------------------------------------------------------------------------------------")

add_customer("Adity")
add_customer("Paras")
add_customer("Harikesh")


book_ticket("Adity", "Krrish")
book_ticket("Paras", "Total Recall")
book_ticket("Harikesh", "Juman Ji")

print("---------------------------------------------------------------------------------------------")

print_data()

Added Movie -------------------------------------------
Title : Krrish
Genere : Action
Showtime : 21:20

Added Movie -------------------------------------------
Title : Juman Ji
Genere : Adventurous
Showtime : 15:10

Added Movie -------------------------------------------
Title : Total Recall
Genere : Sci-Fi
Showtime : 10:50

Theater Added : PVR
Theater Added : Galaxy
Theater Added : Minerva
---------------------------------------------------------------------------------------------
Ticket booked for 'Adity' to watch 'Krrish'.
Ticket booked for 'Paras' to watch 'Total Recall'.
Ticket booked for 'Harikesh' to watch 'Juman Ji'.
---------------------------------------------------------------------------------------------

Movies Available:
  Krrish (Action) at 21:20
  Juman Ji (Adventurous) at 15:10
  Total Recall (Sci-Fi) at 10:50

Theaters Available:
  Minerva
  Galaxy
  PVR

Ticket Pricing:
  Prices: (250, 350, 300)

Customer Bookings:
  Adity: Krrish
  Paras: Total Recall
  Harikesh: Juman Ji