In [2]:
import pandas as pd

# create dataframe by reading csv file
df = pd.read_csv('Student_Data.csv')

print(df.head())

   Student_ID      Name  Math  Science  English  Total            Grade
0           1       Ric    42       16       85     97  upward-trending
1           2   Abigail    79      100       56    264           portal
2           3    Sonnie    98       53       97    125      Implemented
3           4  Roderick    73       38       72     77   conglomeration
4           5    Collin    80       81       56    242        emulation

In [3]:
# to check empty/ NA values in data set
df.isna()

    Student_ID   Name   Math  Science  English  Total  Grade
0        False  False  False    False    False  False  False
1        False  False  False    False    False  False  False
2        False  False  False    False    False  False  False
3        False  False  False    False    False  False  False
4        False  False  False    False    False  False  False
..         ...    ...    ...      ...      ...    ...    ...
95       False  False  False    False    False  False  False
96       False  False  False    False    False  False  False
97       False  False  False    False    False  False  False
98       False  False  False    False    False  False  False
99       False  False  False    False    False  False  False

[100 rows x 7 columns]

In [9]:
df['Total'] = df[['Math', 'Science', 'English']].sum(axis = 1)
print(df[['Name', 'Math', 'Science', 'English', 'Total']].head())

       Name  Math  Science  English  Total
0       Ric    42       16       85    143
1   Abigail    79      100       56    235
2    Sonnie    98       53       97    248
3  Roderick    73       38       72    183
4    Collin    80       81       56    217

In [16]:
df.rename(columns={'@Math': 'Math'}, inplace=True)

In [22]:
def assign_grade(total):
    if total >= 250:
        return 'A'
    elif total >= 200:
        return 'B'
    elif total >= 150:
        return 'C'
    else:
        return 'D'

df['Grade'] = df['Total'].apply(assign_grade)

In [26]:
print(df[['Name' , 'Total', 'Grade']])

        Name  Total Grade
0        Ric    143     D
1    Abigail    235     B
2     Sonnie    248     B
3   Roderick    183     C
4     Collin    217     B
..       ...    ...   ...
95    Carlie    188     C
96   Marshal    124     D
97     Hobey    129     D
98    Joelie    108     D
99   Clemmie    232     B

[100 rows x 3 columns]

In [32]:
# Filter the data -- those students got 'A' Grade

grade_a_student = df[df['Grade'] == 'A']
print(grade_a_student)
print("-------------------------------------------------------------")
print("Number of student got 'A Grade :", len(grade_a_student))

    Student_ID  Name  Math  Science  English  Total Grade
94          95  Adda    98       86       79    263     A
-------------------------------------------------------------
Number of student got 'A Grade : 1

In [35]:
math_max = max(df['Math'])
print(math_max)
print("-----------------------------------------------------------")
print(df[df['Math'] == math_max])

100
-----------------------------------------------------------
    Student_ID   Name  Math  Science  English  Total Grade
59          60  Julie   100       92       50    242     B

In [37]:
df.to_csv("UpDated_File.csv", index = False)
print("data saved successfully")

data saved successfully