In [1]:
import pandas as pd
print (pd.__version__)

2.2.3

In [4]:
sales_data2 = pd.read_csv('sales_data.csv')
print(sales_data2)

   Order_ID       Product     Category  Quantity  Price  Total_Amount  \
0      1001        Laptop  Electronics         2    700           NaN
1      1002  Mobile Phone  Electronics         1    500           NaN
2      1003    Headphones  Accessories         3     50           NaN
3      1004         Mouse  Accessories         2     20           NaN
4      1005      Keyboard  Accessories         1     30           NaN
5      1006       T-shirt     Clothing         4     15           NaN
6      1007        Jacket     Clothing         1     60           NaN
7      1008  Refrigerator  Electronics         1    900           NaN
8      1009            TV  Electronics         2   1100           NaN
9      1010         Shoes     Clothing         2     40           NaN

         Date
0  2024-02-01
1  2024-02-02
2  2024-02-03
3  2024-02-04
4  2024-02-05
5  2024-02-06
6  2024-02-07
7  2024-02-08
8  2024-02-09
9  2024-02-10

In [5]:
sales_data2.isna()

   Order_ID  Product  Category  Quantity  Price  Total_Amount   Date
0     False    False     False     False  False          True  False
1     False    False     False     False  False          True  False
2     False    False     False     False  False          True  False
3     False    False     False     False  False          True  False
4     False    False     False     False  False          True  False
5     False    False     False     False  False          True  False
6     False    False     False     False  False          True  False
7     False    False     False     False  False          True  False
8     False    False     False     False  False          True  False
9     False    False     False     False  False          True  False

In [12]:
sales_Data2 = sales_data2.fillna(0)

In [13]:
print(sales_Data2)

   Order_ID       Product     Category  Quantity  Price  Total_Amount  \
0      1001        Laptop  Electronics         2    700           0.0
1      1002  Mobile Phone  Electronics         1    500           0.0
2      1003    Headphones  Accessories         3     50           0.0
3      1004         Mouse  Accessories         2     20           0.0
4      1005      Keyboard  Accessories         1     30           0.0
5      1006       T-shirt     Clothing         4     15           0.0
6      1007        Jacket     Clothing         1     60           0.0
7      1008  Refrigerator  Electronics         1    900           0.0
8      1009            TV  Electronics         2   1100           0.0
9      1010         Shoes     Clothing         2     40           0.0

         Date
0  2024-02-01
1  2024-02-02
2  2024-02-03
3  2024-02-04
4  2024-02-05
5  2024-02-06
6  2024-02-07
7  2024-02-08
8  2024-02-09
9  2024-02-10

In [14]:
sales_data2.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [17]:
sales_data2.dtypes

Order_ID          int64
Product          object
Category         object
Quantity          int64
Price             int64
Total_Amount    float64
Date             object
dtype: object

In [21]:
sales_data2['Date'] = pd.to_datetime(sales_data2['Date'])

In [22]:
print(sales_data2)

   Order_ID       Product     Category  Quantity  Price  Total_Amount  \
0      1001        Laptop  Electronics         2    700           NaN
1      1002  Mobile Phone  Electronics         1    500           NaN
2      1003    Headphones  Accessories         3     50           NaN
3      1004         Mouse  Accessories         2     20           NaN
4      1005      Keyboard  Accessories         1     30           NaN
5      1006       T-shirt     Clothing         4     15           NaN
6      1007        Jacket     Clothing         1     60           NaN
7      1008  Refrigerator  Electronics         1    900           NaN
8      1009            TV  Electronics         2   1100           NaN
9      1010         Shoes     Clothing         2     40           NaN

        Date
0 2024-02-01
1 2024-02-02
2 2024-02-03
3 2024-02-04
4 2024-02-05
5 2024-02-06
6 2024-02-07
7 2024-02-08
8 2024-02-09
9 2024-02-10

In [27]:
sales_data2['Product'] = sales_data2['Product'].astype(str)
sales_data2['Category'] = sales_data2['Category'].astype(str)
# sales_data2['Total_Amount'] = sales_data2['Total_Amount'].astype(int)

In [29]:
sales_data2.dtypes

Order_ID                 int64
Product                 object
Category                object
Quantity                 int64
Price                    int64
Total_Amount           float64
Date            datetime64[ns]
dtype: object

In [32]:
# Outlier
import numpy as np
data = np.array([10,12,14,15,18,21,25,100])

# Calculate Q1, Q3 and IQR
Q1 = np.percentile(data,25)
Q3 = np.percentile(data,75)
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = data[(data < lower_bound) | (data > upper_bound)]

print("Outliers :", outliers)

Outliers : [100]