In [10]:
# Pandas - Library for data manipulation and analysis
import pandas as pd
print('Version :', pd.__version__)

Version : 2.2.3

In [11]:
# Series - 1D Data
list = [12,23,34,55,67]
mySeries = pd.Series(list)
print(mySeries)
print('Element at Index 3 :',mySeries[3])

0    12
1    23
2    34
3    55
4    67
dtype: int64
Element at Index 3 : 55

In [8]:
a = [1,7,4]
myvar = pd.Series(a,index = ["a", "b", "c"])
print(myvar)
print("Element at 'b' index :", myvar['b'])

a    1
b    7
c    4
dtype: int64
Element at 'b' index : 7

In [9]:
employee ={
    "id" : 1,
    "name" : "Paras",
    "email" : "paras@gmail.com",
    "address" : "Ambala"
}
data = pd.Series(employee)
print(data)
print("id", data["id"])
print('name', data['name'])

id                       1
name                 Paras
email      paras@gmail.com
address             Ambala
dtype: object
id 1
name Paras

In [14]:
# DataFrame - 2D Data - for Excel or SQL table

data = {
    "id" : [1,2,3,4],
    "name" : ["paras", "adity", "harikesh", "pragya"],
}

myData = pd.DataFrame(data)
print(myData)

   id      name
0   1     paras
1   2     adity
2   3  harikesh
3   4    pragya

In [22]:
data = {
    "name" : ["paras", "adity", "harikesh", "pragya"],
    "age" : [12,34,23,2]
}

myVar = pd.DataFrame(data)
print(myVar)
print("---------------------------------------------")
print(myVar.loc[0])
print("---------------------------------------------")
print(myVar.loc[[0,1]]) #rows with index number 
print("---------------------------------------------")
print(myVar.iloc[0,1]) # value at row and column

       name  age
0     paras   12
1     adity   34
2  harikesh   23
3    pragya    2
---------------------------------------------
name    paras
age        12
Name: 0, dtype: object
---------------------------------------------
    name  age
0  paras   12
1  adity   34
---------------------------------------------
12

In [25]:
userData = {
    "name" : ["alex", "bob", "catty"],
    "age" : [23,45,21]
}

df1 = pd.DataFrame(userData, index = ["user1", "user2", "user3"])
print(df1)
print("---------------------------------------------")
print(df1.loc["user1"])

        name  age
user1   alex   23
user2    bob   45
user3  catty   21
---------------------------------------------
name    alex
age       23
Name: user1, dtype: object

In [30]:
# Change the order of Columns

userData = {
    "name" : ["alex", "bob", "catty"],
    "age" : [23,45,21]
}

df1 = pd.DataFrame(userData, index = ["user1", "user2", "user3"], columns = ["age", "name"])
print(df1)
print("---------------------------------------------")
print(df1.loc["user3"])

       age   name
user1   23   alex
user2   45    bob
user3   21  catty
---------------------------------------------
age        21
name    catty
Name: user3, dtype: object

In [31]:
userData = [
    ["Adity", 21, "Orissa"],
    ["Paras", 21, "haryana"],
    ["Pragya", 30, "Bihar"]
]

df1 = pd.DataFrame(userData, index = ["user1", "user2", "user3"], columns = ["Name", "Age", "City"])
print(df1)
print("---------------------------------------------")
print(df1.loc["user3"])

         Name  Age     City
user1   Adity   21   Orissa
user2   Paras   21  haryana
user3  Pragya   30    Bihar
---------------------------------------------
Name    Pragya
Age         30
City     Bihar
Name: user3, dtype: object

In [36]:
student_data = pd.read_csv('MOCK_DATA.csv')
print(student_data)

     ID                Name          City                             Email  \
0     1     Sarge Brettoner      Cinyawar          sbrettoner0@stanford.edu
1     2  Helyn Schuchmacher          Yidu  hschuchmacher1@howstuffworks.com
2     3      Giffer Garroch        Sussex               ggarroch2@issuu.com
3     4     Eduino Halladey    Chalamarca              ehalladey3@intel.com
4     5    Deina Freemantle  Philadelphia        dfreemantle4@woothemes.com
..  ...                 ...           ...                               ...
95   96  Hartwell Valintine       Kasiyan         hvalintine2n@buzzfeed.com
96   97     Melinde Madgett      Viangxai               mmadgett2o@uiuc.edu
97   98       Sinclair Ewer       Brunflo                   sewer2p@ted.com
98   99         Lenna Finby         Kholm          lfinby2q@marketwatch.com
99  100       Serge Zelland     Kaliuling           szelland2r@amazon.co.jp

         Gender  Percentage
0          Male        23.0
1        Female        97.2
2          Male        76.2
3          Male        98.8
4        Female        45.6
..          ...         ...
95         Male        41.5
96       Female        82.2
97         Male         1.5
98  Genderfluid        23.4
99         Male        82.6

[100 rows x 6 columns]

In [38]:
print(student_data.head()) # First 5 Rows

   ID                Name          City                             Email  \
0   1     Sarge Brettoner      Cinyawar          sbrettoner0@stanford.edu
1   2  Helyn Schuchmacher          Yidu  hschuchmacher1@howstuffworks.com
2   3      Giffer Garroch        Sussex               ggarroch2@issuu.com
3   4     Eduino Halladey    Chalamarca              ehalladey3@intel.com
4   5    Deina Freemantle  Philadelphia        dfreemantle4@woothemes.com

   Gender  Percentage
0    Male        23.0
1  Female        97.2
2    Male        76.2
3    Male        98.8
4  Female        45.6

In [55]:
print(student_data.head(20))
print("---------------------------------------------------------------------------------")
print(student_data.tail(20))

    ID                Name               City  \
0    1     Sarge Brettoner           Cinyawar
1    2  Helyn Schuchmacher               Yidu
2    3      Giffer Garroch             Sussex
3    4     Eduino Halladey         Chalamarca
4    5    Deina Freemantle       Philadelphia
5    6      Evelyn Twiddle             Nonsan
6    7        Hagan Leeson        Delgermörön
7    8     Jermain McAmish              Yŏnmu
8    9     Janetta Gurrado               Bazi
9   10      Abdel Dallaway       Vysokogornyy
10  11        Marna Keller             Vavozh
11  12        Karol Ilieve          Laboulaye
12  13       Doretta Bukac             Musawa
13  14       Even Alphonso             Playas
14  15      Delbert Mawtus     Taywanak Ilaya
15  16     Bertina Harhoff            Baranów
16  17        Cleon Denkin        Berestechko
17  18      Jaynell Hamlyn  Tagkawayan Sabang
18  19        Gabie Hadwin             Huaguo
19  20      Xenia McJerrow           Fengshan

                               Email       Gender  Percentage
0           sbrettoner0@stanford.edu         Male        23.0
1   hschuchmacher1@howstuffworks.com       Female        97.2
2                ggarroch2@issuu.com         Male        76.2
3               ehalladey3@intel.com         Male        98.8
4         dfreemantle4@woothemes.com       Female        45.6
5            etwiddle5@123-reg.co.uk  Genderfluid        14.7
6                 hleeson6@alexa.com         Male        50.1
7         jmcamish7@biblegateway.com         Male        52.7
8                  jgurrado8@ibm.com       Female         4.0
9             adallaway9@yahoo.co.jp         Male        50.0
10         mkellera@businessweek.com       Female        43.3
11               kilieveb@tripod.com   Non-binary         5.5
12                   dbukacc@mlb.com       Female         2.1
13           ealphonsod@marriott.com         Male         7.0
14              dmawtuse@skyrock.com         Male        61.4
15                 bharhofff@fc2.com       Female        45.7
16                cdenking@about.com         Male        90.4
17          jhamlynh@bizjournals.com       Female        13.7
18              ghadwini@typepad.com         Male        27.9
19             xmcjerrowj@usnews.com       Female        52.8
---------------------------------------------------------------------------------
     ID                Name         City                       Email  \
80   81   Anneliese Annakin  Niška Banja  aannakin28@telegraph.co.uk
81   82       Tarrah Fildes      Huainan          tfildes29@narod.ru
82   83         Eamon Kemet  Thạnh Hóa             ekemet2a@vk.com
83   84         Quinn Routh   Undurkhaan        qrouth2b@webnode.com
84   85    Francoise Pawlik     Victoria       fpawlik2c@twitpic.com
85   86   Charlie Ramalhete  Jetak Kulon   cramalhete2d@engadget.com
86   87      Rivy Whitmarsh       Bei’an      rwhitmarsh2e@wiley.com
87   88      Kleon Gossling       Včelná       kgossling2f@patch.com
88   89  Maurizio Bradberry      Norfolk     mbradberry2g@netlog.com
89   90      Melisse Sayles     Brondong     msayles2h@earthlink.net
90   91      Ryann Sixsmith        Nebug       rsixsmith2i@alexa.com
91   92   Spenser Griffitts   Perbaungan      sgriffitts2j@topsy.com
92   93      Eveline Nussii   Karlskrona     enussii2k@goodreads.com
93   94      Minnie Bruyett      Gambēla   mbruyett2l@wikispaces.com
94   95          Win Neylan     Mulawato           wneylan2m@icq.com
95   96  Hartwell Valintine      Kasiyan   hvalintine2n@buzzfeed.com
96   97     Melinde Madgett     Viangxai         mmadgett2o@uiuc.edu
97   98       Sinclair Ewer      Brunflo             sewer2p@ted.com
98   99         Lenna Finby        Kholm    lfinby2q@marketwatch.com
99  100       Serge Zelland    Kaliuling     szelland2r@amazon.co.jp

         Gender  Percentage
80   Polygender        31.0
81       Female         5.0
82   Polygender        93.8
83       Female        26.9
84       Female        51.7
85         Male        62.8
86       Female        29.0
87         Male        40.2
88         Male        61.6
89       Female        14.7
90       Female        95.0
91         Male        77.1
92       Female        74.0
93       Female        54.7
94         Male        70.7
95         Male        41.5
96       Female        82.2
97         Male         1.5
98  Genderfluid        23.4
99         Male        82.6

In [48]:
print(student_data.to_string()) # To see all data

     ID                Name                  City                             Email       Gender  Percentage
0     1     Sarge Brettoner              Cinyawar          sbrettoner0@stanford.edu         Male        23.0
1     2  Helyn Schuchmacher                  Yidu  hschuchmacher1@howstuffworks.com       Female        97.2
2     3      Giffer Garroch                Sussex               ggarroch2@issuu.com         Male        76.2
3     4     Eduino Halladey            Chalamarca              ehalladey3@intel.com         Male        98.8
4     5    Deina Freemantle          Philadelphia        dfreemantle4@woothemes.com       Female        45.6
5     6      Evelyn Twiddle                Nonsan           etwiddle5@123-reg.co.uk  Genderfluid        14.7
6     7        Hagan Leeson           Delgermörön                hleeson6@alexa.com         Male        50.1
7     8     Jermain McAmish                 Yŏnmu        jmcamish7@biblegateway.com         Male        52.7
8     9     Janetta Gurrado                  Bazi                 jgurrado8@ibm.com       Female         4.0
9    10      Abdel Dallaway          Vysokogornyy            adallaway9@yahoo.co.jp         Male        50.0
10   11        Marna Keller                Vavozh         mkellera@businessweek.com       Female        43.3
11   12        Karol Ilieve             Laboulaye               kilieveb@tripod.com   Non-binary         5.5
12   13       Doretta Bukac                Musawa                   dbukacc@mlb.com       Female         2.1
13   14       Even Alphonso                Playas           ealphonsod@marriott.com         Male         7.0
14   15      Delbert Mawtus        Taywanak Ilaya              dmawtuse@skyrock.com         Male        61.4
15   16     Bertina Harhoff               Baranów                 bharhofff@fc2.com       Female        45.7
16   17        Cleon Denkin           Berestechko                cdenking@about.com         Male        90.4
17   18      Jaynell Hamlyn     Tagkawayan Sabang          jhamlynh@bizjournals.com       Female        13.7
18   19        Gabie Hadwin                Huaguo              ghadwini@typepad.com         Male        27.9
19   20      Xenia McJerrow              Fengshan             xmcjerrowj@usnews.com       Female        52.8
20   21        Jamey Cowley                Nanjie            jcowleyk@earthlink.net         Male        31.9
21   22           Myca Vagg              Cotabato                mvaggl@youtube.com         Male        22.7
22   23        Nilson Sends                Brotas            nsendsm@vistaprint.com   Non-binary         5.2
23   24          Rae Andrea           Santa Lucia              randrean@samsung.com       Female        60.3
24   25       Connie Doniso               Komatsu                  cdonisoo@ucoz.ru       Female        67.3
25   26      Douglas Wevell             Parumasan            dwevellp@people.com.cn         Male        28.2
26   27        Dan Newcomen               Mugango     dnewcomenq@huffingtonpost.com         Male         8.7
27   28     Adriaens Bulger               Zhigong                abulgerr@google.de       Female        64.1
28   29   Edvard Lepoidevin             Lolotique        elepoidevins@imageshack.us         Male        18.0
29   30        Carmen Rowth                  Bual                    crowtht@un.org       Female        61.3
30   31    Flemming Smieton               Wichita       fsmietonu@howstuffworks.com         Male         6.6
31   32      Lorie Jamieson            Wageningen              ljamiesonv@apple.com       Female        73.2
32   33   Bernadene Gallico              Tomé Açu           bgallicow@tuttocitta.it       Female        85.7
33   34     Ginger Kruschov               Ludvika          gkruschovx@csmonitor.com       Female        20.0
34   35     Grayce Flavelle          Sumberkrajan             gflavelley@spiegel.de       Female        99.6
35   36      Artemis Burrus              Aranitas         aburrusz@biblegateway.com         Male        49.7
36   37         Berk Chafer           Jetak Kulon          bchafer10@vistaprint.com         Male        24.2
37   38       Alard Lanahan                 Weiqi               alanahan11@live.com         Male        19.5
38   39           Gui Poile                Borbon               gpoile12@drupal.org       Female        66.8
39   40     Hermina Cossell                 Turba             hcossell13@scribd.com       Female        91.9
40   41       Amber Chicken                Kariya           achicken14@redcross.org  Genderfluid        69.9
41   42     Freddie Huertas           Kete Krachi                fhuertas15@fda.gov       Female        70.9
42   43        Karisa Alban              Yushanpu                   kalban16@un.org       Female        99.9
43   44       Lura Scollard              Paris 02               lscollard17@nyu.edu       Female        38.5
44   45        Merwin Ravel                Lethem               mravel18@taobao.com         Male        38.9
45   46  Leeland Michelmore               Turangi          lmichelmore19@ustream.tv         Male        54.5
46   47   Sargent Hempshall               Hongmei       shempshall1a@soundcloud.com         Male        91.9
47   48       Justin Arboin  Adelaide Mail Centre        jarboin1b@domainmarket.com         Male         3.7
48   49       Ardene Jordon                Daming                  ajordon1c@w3.org       Female        30.3
49   50        Mona Shillan        Mont-de-Marsan                  mshillan1d@is.gd       Female         6.7
50   51       Dix Marchetti               Ambunti           dmarchetti1e@disqus.com       Female        62.1
51   52         Derek Regan                Nuštar                dregan1f@state.gov         Male        67.9
52   53    Eachelle Barwell              Libourne                ebarwell1g@unc.edu  Genderfluid        63.5
53   54         Enrika Haug             Mataraben             ehaug1h@microsoft.com       Female        59.9
54   55   Leanor De Bischop                Austin                   lde1i@house.gov       Female        29.3
55   56          Rose Kment                Laojie          rkment1j@squarespace.com       Female        49.7
56   57         Robby Kezor               Shīrvān            rkezor1k@amazonaws.com         Male        62.3
57   58    Ernaline Barosch              Tanzybey          ebarosch1l@google.com.hk       Female        83.2
58   59       Brigit Labone               Aguazul            blabone1m@so-net.ne.jp       Female        88.2
59   60     Guthrey Cisland               Jombang                  gcisland1n@51.la         Male        40.5
60   61    Prinz Golsworthy                 Xekar           pgolsworthy1o@opera.com         Male         2.2
61   62  Ebeneser Spaughton                  Palu        espaughton1p@angelfire.com         Male         5.6
62   63         Jozef Leete                 Gembu          jleete1q@istockphoto.com         Male        79.5
63   64        Barth Revett               Zhuyang            brevett1r@netvibes.com         Male        87.6
64   65    Barny Malatalant         Mrkonjić Grad         bmalatalant1s@storify.com      Agender        14.1
65   66     Irena Jovanovic                Fuquan             ijovanovic1t@xrea.com       Female        40.2
66   67     Amalle O'Teague           Dīvāndarreh             aoteague1u@ebay.co.uk       Female        38.4
67   68          Hayes Feek               Nogliki               hfeek1v@latimes.com         Male        94.4
68   69    Marnia Rosenwald                 Ekerö            mrosenwald1w@skype.com       Female        67.7
69   70      Fianna Pockett                Koshki       fpockett1x@domainmarket.com       Female        44.0
70   71     Andreana Cruise                Bergen                  acruise1y@va.gov       Female        87.5
71   72       Wain Oliphant         Krajan Winong              woliphant1z@ucla.edu         Male        85.9
72   73      Candi Dunstone               Bambari       cdunstone20@marketwatch.com       Female        99.5
73   74       Kerwin Kirkup                 Daphu       kkirkup21@deliciousdays.com         Male        65.8
74   75  Lionello Dispencer              Kerkrade           ldispencer22@reddit.com         Male        98.6
75   76         Edwin Sketh           Mesker-Yurt   esketh23@networkadvertising.org         Male         3.4
76   77       Rosette Marsy             Ayteke Bi                rmarsy24@baidu.com       Female        64.3
77   78      Gasper Fontell                Wuduhe         gfontell25@shutterfly.com         Male        34.2
78   79    Natalina Gibbens             Hlybokaye                ngibbens26@fc2.com   Polygender        94.6
79   80     Natalie Edgerly    Šmartno pri Litiji          nedgerly27@angelfire.com       Female        21.5
80   81   Anneliese Annakin           Niška Banja        aannakin28@telegraph.co.uk   Polygender        31.0
81   82       Tarrah Fildes               Huainan                tfildes29@narod.ru       Female         5.0
82   83         Eamon Kemet           Thạnh Hóa                   ekemet2a@vk.com   Polygender        93.8
83   84         Quinn Routh            Undurkhaan              qrouth2b@webnode.com       Female        26.9
84   85    Francoise Pawlik              Victoria             fpawlik2c@twitpic.com       Female        51.7
85   86   Charlie Ramalhete           Jetak Kulon         cramalhete2d@engadget.com         Male        62.8
86   87      Rivy Whitmarsh                Bei’an            rwhitmarsh2e@wiley.com       Female        29.0
87   88      Kleon Gossling                Včelná             kgossling2f@patch.com         Male        40.2
88   89  Maurizio Bradberry               Norfolk           mbradberry2g@netlog.com         Male        61.6
89   90      Melisse Sayles              Brondong           msayles2h@earthlink.net       Female        14.7
90   91      Ryann Sixsmith                 Nebug             rsixsmith2i@alexa.com       Female        95.0
91   92   Spenser Griffitts            Perbaungan            sgriffitts2j@topsy.com         Male        77.1
92   93      Eveline Nussii            Karlskrona           enussii2k@goodreads.com       Female        74.0
93   94      Minnie Bruyett               Gambēla         mbruyett2l@wikispaces.com       Female        54.7
94   95          Win Neylan              Mulawato                 wneylan2m@icq.com         Male        70.7
95   96  Hartwell Valintine               Kasiyan         hvalintine2n@buzzfeed.com         Male        41.5
96   97     Melinde Madgett              Viangxai               mmadgett2o@uiuc.edu       Female        82.2
97   98       Sinclair Ewer               Brunflo                   sewer2p@ted.com         Male         1.5
98   99         Lenna Finby                 Kholm          lfinby2q@marketwatch.com  Genderfluid        23.4
99  100       Serge Zelland             Kaliuling           szelland2r@amazon.co.jp         Male        82.6

In [56]:
# No of rows and columns
print(student_data.shape)

(100, 6)

In [59]:
# Summary
print(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          100 non-null    int64
 1   Name        100 non-null    object
 2   City        100 non-null    object
 3   Email       100 non-null    object
 4   Gender      100 non-null    object
 5   Percentage  100 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB
None

In [68]:
print(student_data.describe())
print("----------------------------------------------------------------------------")
print(student_data['Percentage'].describe())

               ID  Percentage
count  100.000000  100.000000
mean    50.500000   50.272000
std     29.011492   30.171246
min      1.000000    1.500000
25%     25.750000   24.000000
50%     50.500000   50.900000
75%     75.250000   73.400000
max    100.000000   99.900000
----------------------------------------------------------------------------
count    100.000000
mean      50.272000
std       30.171246
min        1.500000
25%       24.000000
50%       50.900000
75%       73.400000
max       99.900000
Name: Percentage, dtype: float64

In [65]:
student_data[["ID","Name","Percentage"]].head()

   ID                Name  Percentage
0   1     Sarge Brettoner        23.0
1   2  Helyn Schuchmacher        97.2
2   3      Giffer Garroch        76.2
3   4     Eduino Halladey        98.8
4   5    Deina Freemantle        45.6